/build*
*~
.*~
*.mod
*.o
*.lib
*.a
*.x
*.so
*.dll
*.dylib
*.exe
*.pyc
a.out
__pycache__
.*.swp
*.orig
*.rej
vgcore.*
.vagrant
\#*#
.#*
.vscode
.DS_Store
.DS_Store?
._*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
Makefile
